---
layout: textpost
title: Tags - Rice & Potato
---

<ul class="post-links">
    {% for post in site.posts %}
        {% assign class_list = '' %}
        {% for tag in post.tags %}
            {% assign tag_class = tag | prepend: " tag-" %}
            {% assign class_list = class_list | append: tag_class %}
        {% endfor %}
        <li class="{{ class_list }}">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>

<div class="tag-list">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <button class="tag-button">{{ tag[0] }}</button>
    {% endfor %}
</div>
    
<script src="/assets/js/tags.js"></script>