<header role="banner">
    <div class="header-main container clearfix">
        <div class="site-branding clearfix">
            <a href="/" class="custom-logo-link" rel="home">
                <img width="2048" height="650" src="/assets/img/header-2048.jpg" class="custom-logo" alt="Rice & Potato" srcset="/assets/img/header-2048.jpg 2048w, /assets/img/header-1536.jpg 1536w, /assets/img/header-1024.jpg 1024w, /assets/img/header-768.jpg 768w, /assets/img/header-300.jpg 300w" sizes="(max-width: 2048px) 100vw, 2048px">
            </a>
        </div>
    </div>
    <div id="main-navigation-wrap" class="primary-navigation-wrap">
        <button class="primary-menu-toggle menu-toggle" aria-expanded="false">
            <svg class="icon icon-menu" role="img">
                <use xlink:href="/assets/ui/genericons-neue.svg#menu"></use>
            </svg>
            <svg class="icon icon-close" role="img">
                <use xlink:href="/assets/ui/genericons-neue.svg#close"></use>
            </svg>
            <span class="menu-toggle-text">Navigation</span>
        </button>
        <div class="primary-navigation">
            <nav id="site-navigator" class="main-navigation" role="navigation">
                <ul class="menu">
                    <li class="menu-item current-menu-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="/credits.html">Credits</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about.html">Welcome to Rice & Potato</a>
                    </li>
                    <li class="menu-item">
                        <a href="/tags.html">Tags</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>