.post-body {
    margin-left: 1em;
    margin-right: 1em;
}

blockquote {
    font-family: var(--title-font);
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    color: #808080;    
    padding-bottom: 3em;
}